.no-padding {
  padding: 0 !important;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &::after {
    content: ' ';
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
  }
}

.margin-left-12 {
  margin-left: 12px;
}

.paddingLeft12 {
  padding-left: 12px;
}

.margin-left24 {
  margin-left: 46px;
  font-family: STFangsong;
  font-size: 16px;
  font-weight: 400;
}

.margin-left524 {
  margin-left: 234px;
  font-family: STFangsong;
  font-size: 16px;
  font-weight: 400;
}

.text-underline {
  text-decoration: underline;
}

.text-indent {
  text-indent: 2em;
}

.text-indent4 {
  text-indent: 4em;
}

.text-indent3 {
  text-indent: 3em;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-lineheight {
  line-height: 30px;
  text-align: justify;
}

.position-right {
  position: absolute;
  right: 24px;
  bottom: -16px;
  font-family: STFangsong;
  font-size: 16px;
  font-weight: 400;
}

.position-relative {
  position: relative;
}

.width-height {
  width: 170px;
  height: 80px;
}

.width-height2 {
  width: 82px;
  height: 80px;
}

.width-height3 {
  width: 82px;
  height: 50px;
}

.width-height4 {
  width: 82px;
  height: 30px;
}

.input-width {
  display: inline-block;
  width: 250px;
}

.input-width2 {
  margin-right: 35px;
  margin-left: -25px;
  width: 576px;
}

.detailStyle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}

.detailTop {
  position: relative;
  top: 14px;
  height: 100%;
}

/* 子元素-平均分栏 */
.flex1 {
  flex: 1;
}

/* 父元素-横向排列（主轴） */
.flex-h {
  display: flex;
  flex-direction: row;
}

/* 父元素-横向排列（主轴）（从右到左） */
.flex-hr {
  flex-direction: row-reverse;
}

/* 父元素-水平向行开始位置对齐（主轴是横向才生效） */
.flex-hs {
  justify-content: flex-start;
}

/* 父元素-水平居中（主轴是横向才生效） */
.flex-hc {
  justify-content: center;
}

/* 父元素-水平向行结束位置对齐（主轴是横向才生效） */
.flex-he {
  justify-content: flex-end;
}

/* 父元素-水平向两端对齐（主轴是横向才生效） */
.flex-hsb {
  justify-content: space-between;
}

/* 父元素-纵向排列（主轴） */
.flex-v {
  display: flex;
  flex-direction: column;
}

/* 父元素-竖直向行起始位置对齐（主轴是横向才生效） */
.flex-vs {
  align-items: flex-start;
}

/* 父元素-竖直居中（主轴是横向才生效） */
.flex-vc {
  align-items: center;
}

/* 父元素-竖直向行起始位置对齐（主轴是横向才生效） */
.flex-ve {
  align-items: flex-end;
}

.flex-vb {
  align-items: baseline;
}

/* 父元素-横向和纵向换行 */
.flex-hw,
.flex-vw {
  flex-wrap: wrap;
  font-size: 0;
}

.flex-hw > *,
.flex-vw > * {
  display: inline-block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.m05 {
  margin: 0 5px;
}

.color-dark-black {
  color: var(--dawei-color-dark-black);
}

.color-dark-gray {
  color: var(--dawei-color-dark-gray);
}
