@import './flex.css';
@import './custom.scss'; // 自定义样式文件路径
@import 'variables'; // 主题变量
@import 'st-theme-style.scss'; // 主题样式

body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

div:focus {
  outline: none;
}
