@use 'variables.scss'; // 存放项目统一规范的变量
@use './reset.scss'; // 重置浏览器默认样式
@use './custom.scss'; // 自定义的 css 样式
@use './theme/index.scss'; // 自定义主题样式
@use './element-ui.scss'; // 修改 element-ui 样式

body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}
