/* 改变主题色变量 */
$--color-primary: #3786fd;
$--table-th-color: #fafafa;
$--detail-borde-color: #e6e6e6;
$--detail-background-color: #f7f7f7;
$--detail-font-color-light: #666;
$--detail-font-color-heavy: #333;
$--detail-font-weight: 400;
$--detail-font-size: 14px;
